<div class="" *ngIf="pipeline != null">

  <div class="">
    <div><span>Id: </span><b>{{ pipeline.pipeline.id }}</b></div>
    <div><span>Full duration: </span><b>{{ pipeline.duration }}ms</b></div>
  </div>

  <ul>
    <li *ngFor="let task of pipeline.tasks">
      <div>
        <span>Id: </span><b>{{ task.id }}</b>
      </div>
      <div>
        <span>Name: </span><b>{{ task.name }}</b>
      </div>
      <div>
        <span>Duration: </span><b>{{ task.duration }}ms</b>
      </div>
    </li>
  </ul>

  <div class="mt-3">
    <button class="btn btn-primary" (click)="addTask()">Add task</button>
  </div>
</div>
